* {
    box-sizing: border-box;
}

body {
    background-color: #AAA;
    margin: 0px 50px;
}

.container {
    display: flex;
    background-color: #f5ca3c;
    flex-direction: column;
    height: 90vh;
}
.item {
    padding: 2rem;
    border: 5px solid #87b5ff;
    border-radius: 3px;
    font-size: 2rem;
    font-family: Arial, sans-serif;
    font-weight: bold;
    background-color: #1c57b5;
}

.item1 {
    flex-grow: 1;
}
.item2 {
    flex-grow: 2;
}
.item3 {
    flex-grow: 1
    ;
}